
<!doctype html>
<html lang="en" data-bs-theme="dark">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
      .alert-success {
          background-color: #8ccf9a; /* Darker green background */
          color: #0d3e18; /* Darker green text */
          border-color: #7ab887; /* Darker green border */
      }
      .alert-error {
          background-color: #d9898e; /* Darker red background */
          color: #5c1217; /* Darker red text */
          border-color: #c57075; /* Darker red border */
      }
    </style>
  </head>
  <body>

    {% include 'navbar.html' %}
    <div class="container">
      <br/>
      {% if messages %}
        {% for message in messages %}
          {% if message.tags == 'success' %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
          {% else %}
            <div class="alert alert-error alert-dismissible fade show" role="alert">
          {% endif %}
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>


        {% endfor %}
      {% endif %}

    {% block content %}
    {% endblock %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>
