{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}
    <h1>Welcome, {{ user.first_name }}!</h1> <br/> <br/>
    <button type="button" class="btn btn-light" onclick="window.location.href='{% url 'createrequest' %}'">Create Request</button>
    <button type="button" class="btn btn-light" onclick="window.location.href='{% url 'viewrequest' %}'">View Requests</button>
{% else %}
    <script>
        window.location.href = "{% url 'login' %}";
    </script>
{% endif %}

{% endblock %}
